<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cusdisplaycontroller" 
        version="1.1.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0" 
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>CusdisplayController</name>
    
    <js-module name="CusdisplayController" src="www/CusdisplayController.js">
        <clobbers target="cordova.plugins.CusdisplayController" />
    </js-module>

    <asset src="www/CusdisplayController.js" target="js/CusdisplayController.js"/>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <platform name="browser">
        <js-module name="CusdisplayController_browser" src="src/browser/CusdisplayController.js">
            <clobbers target="cordova.plugins.CusdisplayController" />
        </js-module>

    </platform>
</plugin>