.report-container {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}
.calender-section {
}
.today-sale {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #be9708;
  border-radius: 20px;
  width: 20rem;
  color: white;
  font-weight: 800;
  font-size: 1.5rem;

}

.react-datepicker {
  width: 20rem;
  margin-top: 3rem;
}

.react-datepicker__month-container {
  width: 100%;
}

.total-amount {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #be9708;
  border-radius: 20px;
  width: 20rem;
  font-weight: 800;
  color: white;
  font-size: 1.5rem;
}

table {
  width: 100%;

}
table th {
  text-align: start;
  padding: 10px 30px;
}
table td {
  text-align: start;
  padding: 10px 30px;
}
.table-section {
  height: 27rem;
  overflow: hidden;
  overflow-y: scroll;
  margin-top: 2rem;
}
.page-title{
  font-size: 2rem;
  margin-top: 3rem;
}
.react-datepicker__header {
  background-color: #be9708!important;
}

.react-datepicker__day--selected{
  background-color: #be9708!important;
}