.sidebar {
  flex: 1 1;
  height: 100vh;
  background-color: rgb(255 255 255);
  position: fixed;
  top: 0;
  width: 6rem;
  box-shadow: 2px 13px 18px -20px;
  background: black;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin: 1.5rem 0;
  justify-content: center;
}

.sidebarListItem svg{
  font-size: 1.5rem;
  color: white;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  background-color:#be9708;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}
.logo{
  width: 95%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}